body,
html {
	height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  border:none;
  /* For some Androids */
}

.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

a {
  text-decoration: none;
  color: #000;
}

input,
select {
  -webkit-appearance: none;
  /*去除input默认样式*/
}

input,
textarea,
select {
  border: none;
  outline: none;
}
textarea {
  resize: none;
}
select {
  background: #fff;
  opacity: 1;
}

input[disabled] {
  background: #fff;
  color: #999;
  opacity: 1
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  background: #fff;
}
.zhezhao{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5)
}
#app {
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* mint-ui样式 */
.mint-radiolist {
  display: flex;
  float: left;

}

.textmust,
.textmusts .mint-checklist {
  margin: 0;
  padding: 0;

}
.setft .mint-cell-wrapper {
  background: none !important;
}

.textmust .mint-cell {
  height: 30px;
  line-height: 30px;
  min-height: 30px !important;
}

.textmust,
.textmusts .mint-cell-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.textmust,
.textmusts .mint-checklist-label {
  display: block;
}

.textmust,
.textmusts .mint-checklist .mint-checklist-title {
  margin: 0;
}

.lastbox .mint-radiolist {
  display: block;
  width: 100%;
}

.lastbox .mint-cell:last-child {
  border-top: 1px solid #eee;
}


.textmust .mint-cell .mint-cell-wrapper {
  font-size: 14px;
  padding: 0;
  height: 20px;
}

.textmust .mint-checklist .mint-cell:last-child {
  background-image: none;
}

.textmust .mint-checklist-label {
  display: block;
  padding: 0;
}

.textmust .mint-checkbox-core {
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #ccc;
  position: relative;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.textmusts .mint-checkbox-core {
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #ccc;
  position: relative;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.mint-radiolist .mint-radiolist-title {
  margin: 0;
}

.mint-cell {
  height: 38px;
  line-height: 38px;
  min-height: 38px !important;
  border: none;
}
.mint-cell .mint-cell-wrapper {
  font-size: 14px;
  padding: 0;
}
.mint-radiolist .mint-cell:last-child {
  background-image: none;
}


.mint-field .mint-cell-title {
  width: 60px !important;
  font-size: 14px;
}

.amount-item  .mint-cell-value input {
  font-size: 14px;
	color: #333;
	background: transparent;
	/* background: #ff534c; */
}

.edit-ele {
  background: none !important;
}

.edit-ele .mint-cell-wrapper {
  background: none !important;
}

.cropper-box {
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  position: fixed;
}

.mint-indicator-wrapper {
  z-index: 9999 !important;
}

.mint-indicator-mask {
  z-index: 9998 !important;
}

.poster-div {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}

/*创建活动*/
.left {
	float: left;
}

.right {
	float: right;
}
.activity{
	overflow-x: hidden;
	background:#f2f2f2;
}

.group form{
	padding:.3rem 0;
	background:#f2f2f2;
}
.group {
	width: 100%;
	background: #f2f2f2;
	box-sizing: border-box;
	font-size: 14px;
	position: relative;
	margin-top: 40px;
}
.editor{
	width: 100%;
	background: #f2f2f2;
	height: 100%;
	font-size: 14px;
	position: relative;
}
.listbox{
	width: 100%;
	/* height: 100%; */
}
.content{
  height:100%;
}
.created {
	width: 100%;
	/* height: 54px; */
	text-align: left;
	padding:20px 10px 0 10px;
	background: #fff;
	box-sizing: border-box;
}

.creat {
	width: 100%;
	height: 50px;
	text-align: left;
	border-bottom: 1PX solid #eee;
}

.dian {
	color: #fa3f55;
	display: inline-block;
	vertical-align: top;
}

.creatInp {
	width: 96%;
	min-height: 45px;
	border: none;
}

.Imglist {
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	padding: 10px;
}




/* .photoImg {
	width: 100px;
	height: 100px;
	border: 1px dashed #eee;
	float: left;
	background: url('../img/upload_img.png') no-repeat center;
	background-size: 25%;
	position:relative;
} */

select {
	border: none;
}

.imgtext {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #EEEEEE;
	font-size: 14px;
	text-align: left;
	color: #565656;
	padding-left: 10px;
	/*margin: 10px 0;*/
	box-sizing: border-box;
}

.producttype,
.timeList,
.proList,
.companyList {
	font-size: 14px;
	width: 100%;
	margin-bottom: 10px;
	background: #fff;
	padding: 0 10px;
	box-sizing: border-box;
	/*border-bottom: 10px solid #ddd;*/
}

.addList {
	padding: 10px 10px 10px 10px;
	font-size: 14px;
	width: 100%;

	background: #fff;
	text-align: left;
	margin-bottom: 70px;
	box-sizing: border-box;
}

.protop,
.probtn,
.stime,
.etime {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.protop {
	border-bottom: 1PX solid #ddd;
}

.stime {
	border-bottom: 1PX solid #eee;
}

.proleft {
	float: left;
}

.proright {
	float: right;
}

.selected {
	width: auto;
	text-align: right;
}

.right-t {
	width: auto;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	position:relative;
}

.timespan {
	font-size: 14px;
	max-width: 150px;
	/*height: 30px;
	line-height: 30px;*/
	border: none;
	text-align: right;
	padding-right: 3px;
}

input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: #aab2bd;
	text-align: right;
}

.right span img {
	width: 6px;
	margin-top: 10px;
	margin-left: 10px;
}

.addheader {
	width: 100%;
	margin-top:0!important;
}

.dashed {
	width: 100%;
	border: 1PX dashed #eee;
	min-height: 80px;
	/* margin-top: 10px; */
	position: relative;
}



/* .closeybtn {
	position: absolute;
	top: 5px;
	right: 58px;
	background: url('../img/yclose.png') no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
} */
/* .btnybtn {
	position: absolute;
	top: 5px;
	right: 5px;
	background: url('../img/ybtns.png') no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
} */
/* .topybtn {
	position: absolute;
	top: 5px;
	right: 30px;
	background: url('../img/ytops.png') no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
} */


.textard {
	width: 100%;
	min-height: 80px;
	border: none;
	padding: 10px;
	box-sizing: border-box;
}
.stateBtn{
	/* display: flex;
	align-items: center;
	justify-content: center; */
	margin-top:10px;
}
.addtext,
.addImg {
	display: inline-block;
	width: 70px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #FA3F55;
	margin-right: 15px;
	background: #FA3F55;
	color: #fff;
	/* position:relative; */
}

.btnfooter {
	width: 100%;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	box-shadow: 0 -0.026667rem 0.133333rem #cfcfcf;
}

.btnsub {
	width: 100%;
	height: 40px;
	background: #FA3F55;
	color: #fff;
	border-radius: 10px;
	font-size: 17px;
	z-index: 999999;
}

.cutImg {
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 99999;
}
.imgcutok {
	float: left;
	margin-right: 10px;
	overflow: hidden;
	width: 100px;
	height: 100px;
	position: relative;
	border: 1px solid #eee;
}
/* .deletebox{
	position: absolute;
	position: absolute;
	top: 2px;
	right: 2px;
	background: url('../img/yclose.png') no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
} */
.cutdownImg {
	width: 200px;
	margin-left: -50px;
}

.chooseImg {
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	float: left;
	border-radius: 4px;
}

.closeBox {
	margin-left: 60px;
}

.test-button {
	width: 100%;
	/*height: 50px;
	line-height: 50px;*/
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 10000;
	padding: 10px;
	box-sizing: border-box;
}

.fright {
	float: right;
}

.imgcutok {
	float: left;
	margin-right: 10px;
	/*overflow: hidden;*/
	width: 100px;
	height: 100px;
}

.btndashed {
	width: 100%;
	height: 100%;
	/* margin-top: 10px; */
	box-sizing: border-box;
	position: relative;
	margin-bottom: -4px;
}

.btncutdownImg {
	width: 100%;
	/* height: 100%; */
	border: none;
}
.img-file{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	left:0;
	top:0;
}
.date-pickerBox{
	position:absolute;
	z-index:99;
	opacity:0;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.logo>div{
	width:100%;
	height:100%;
	border:none!important;
}
.no-active,.edit{
	border:none!important;
}
.mA{
	margin:auto!important;
}
.poster-div img{
	pointer-events: none;
}
.textCount{
	position:absolute;
	height:16px;
	right:0;
	top:50%;
	margin-top:-8px;
	right:10px;
	color:#666;
}
.mint-cell-value ::-webkit-input-placeholder
{
    text-align: left!important;
}
.addList>div{
	margin-top:10px;
}
.mint-msgbox-confirm,.mint-msgbox-cancel{
	font-size:.4rem;
}
.inspact-ele,.edit-poster{
	user-select: none;
 	-webkit-user-select:none;
 	-moz-user-select:none;
 	-ms-user-select:none;
}

/* 首页样式 */
.headerNav .mint-button{
 border-radius: 0;
 position: relative;
}
.headerNav .mint-button--default {
	color: #000;
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.mint-button:not(.is-disabled):active::after {
	opacity: 1;
}
.headerNav .mint-button::after {
	/* content: '';
	width:45px;
	height: 2px;
	background: #F8614A;
	position: absolute;
	bottom: -4px;
	left: 8px;
	margin: 0 auto;
	opacity: 1; */
	/* background-color: #000;
	content: " ";
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute; */
}
/*公共样式*/
.fleft {
	float: left;
}
.fright {
	float: right;
}

/* 底部tab */

.Btntab {
  width: 100%;
  height: 50px;
  background: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -1px 5px #cfcfcf;
}
.Btntab_item{
	text-align: center;
  font-size: 10px;
  color: #999;
}
.Btntab_item.active {
  color: #fa3f55;
}

.Btntab_item i {
  margin: 0 auto;
}
.handle[data-v-2bcd502f] {
  /* box-sizing: border-box; */
  display: none;
  /* position: absolute; */
  /* width: 10px; */
  /* height: 10px; */
  /* font-size: 1px; */
  /* background: #EEE; */
  /* border: 1px solid #333; */
}

.sizeitem  .mt-range-thumb{
  width: 20px;
  height: 20px;
  border:1px solid #999;
  position: absolute;
  top:3px;
  left: 0% ;
}
.sizeitem .mt-range-runway{
  right:0;
}
.sizeitem .mt-range-content{
 width: 100%;
 /* margin-right: 0; */
}
/* 颜色 */
.colorbox .vc-chrome{
  width:100%;
  padding-bottom: 14px;
}
.colorbox .vc-saturation, .vc-saturation--white, .vc-saturation--black{
  height: 90px;
}
.colorbox .vc-chrome-saturation-wrap{
  padding-bottom: 21%;
}
.pickerbox .picker-slot{
 font-size: 15px;
}
.colorbox .vc-chrome-fields-wrap{
  display: none;
}